/**
 * Much thanks to Steven Sanderson for the basic layout!
 * http://blog.stevensanderson.com/2011/10/05/full-height-app-layouts-a-css-trick-to-make-it-easier/
 *
 * Colors and shadows are set dynamically in theme.js. An old version with full colors can be found at:
 * https://github.com/willyg302/jarvis/blob/0e46c26c6dc3d944531698dabc6d28fd83e0d5ab/jarvis-nw/css/app.css
 */

body {
    font-family: "Consolas", monospace;
    font-size: 14px;
    line-height: 1.5;
    margin: 0;
    padding: 0;
    min-width: 360px;
}


/** Scrollbar **/

::-webkit-scrollbar {
    width: 12px;
}


/** Generic Layout Rules **/

.row {
    overflow: hidden;
    position: absolute;
    left: 0;
    right: 0;
}

.scroll-y {
    overflow-y: auto;
}

.titlebar.row {
    height: 32px;
}

.body.row {
    top: 32px;
    bottom: 68px;
}

.footer.row {
    height: 68px;
    bottom: 0;
}


/** Generic Styles **/

.bar {
    -webkit-user-select: none;
    -webkit-app-region: drag;
}

.btn {
    -webkit-app-region: no-drag;
}


/** Titlebar **/

.titlebar {
    z-index: 100;
}

.titlebar-text {
    position: absolute;
    left: 10px;
    width: 80%;
    margin-top: 6px;
    margin-bottom: 6px;
}

#minimize, #maximize, #close, #restore {
    position: absolute;
    width: 30px;
    height: 26px;
}

#minimize {
    right: 60px;
}

#maximize, #restore {
    right: 30px;
}

#close {
    right: 0px;
}

#restore {
    visibility: hidden;
}

#ctrlpanel {
    width: 48px;
    height: 48px;
    margin-right: 5px;
}


/** Body **/

.body, .footer section {
    margin: 0 auto 0 auto;
    padding: 10px;
}

#content {
    white-space: pre-wrap;
}


/** Footer **/

.footer section {
    overflow: hidden;
}

input#inputbar {
    box-sizing: border-box;
    border-radius: 4px;
    font-family: 'Consolas', monospace;
    font-size: 28px;
    outline: 0;
    padding: 5px;
    width: 100%;
    transition: box-shadow .25s ease-in-out, border-color .25s ease-in-out;
    -webkit-transition: -webkit-box-shadow .25s ease-in-out, border-color .25s ease-in-out;
    -webkit-app-region: no-drag;
}


/** Message Styles **/

span.jarvis {
    font-weight: bold;
}

span.user {
    font-weight: bold;
}