/**
 * Much thanks to Steven Sanderson for the basic layout!
 * http://blog.stevensanderson.com/2011/10/05/full-height-app-layouts-a-css-trick-to-make-it-easier/
 *
 * Colors and shadows are set dynamically in theme.js. An old version with full colors can be found at:
 * https://github.com/willyg302/jarvis/blob/0e46c26c6dc3d944531698dabc6d28fd83e0d5ab/jarvis-nw/css/app.css
 */

body {
    font-family: "Consolas", monospace;
    font-size: 14px;
    line-height: 1.5;
    margin: 0;
    padding: 0;
    min-width: 360px;

    background-color: #ffffff;
    color: #1d1f21;
}


/** Scrollbar **/

::-webkit-scrollbar {
    width: 12px;
}

::-webkit-scrollbar-track {
    background-color: #e0e0e0;
    border-left: 1px solid #c5c8c6;
}

::-webkit-scrollbar-thumb {
    background-color: #c5c8c6;
}

::-webkit-scrollbar-thumb:hover {
    background-color: #b4b7b4;
}


/** Generic Layout Rules **/

.row {
    overflow: hidden;
    position: absolute;
    left: 0;
    right: 0;
}

.scroll-y {
    overflow-y: auto;
}

.titlebar.row {
    height: 32px;
}

.body.row {
    top: 32px;
    bottom: 68px;
}

.footer.row {
    height: 68px;
    bottom: 0;
}


/** Generic Styles **/

.bar {
    -webkit-user-select: none;
    -webkit-app-region: drag;

    background-color: #e0e0e0;
    box-shadow: 0 0 10px 2px #969896;
}

.btn {
    -webkit-app-region: no-drag;
}


/** Titlebar **/

.titlebar {
    z-index: 100;
}

.titlebar-text {
    position: absolute;
    left: 10px;
    width: 80%;
    margin-top: 6px;
    margin-bottom: 6px;
}

#ctrlpanel {
    width: 48px;
    height: 48px;
    margin-right: 5px;
}


/** Body **/

.body, .footer section {
    margin: 0 auto 0 auto;
    padding: 10px;
}

#content {
    white-space: pre-wrap;
}


/** Footer **/

.footer section {
    overflow: hidden;
}

input#inputbar {
    box-sizing: border-box;
    border-radius: 4px;
    font-family: 'Consolas', monospace;
    font-size: 28px;
    outline: 0;
    padding: 5px;
    width: 100%;
    transition: box-shadow .25s ease-in-out, border-color .25s ease-in-out;
    -webkit-transition: -webkit-box-shadow .25s ease-in-out, border-color .25s ease-in-out;
    -webkit-app-region: no-drag;

    background-color: #ffffff;
    border: 1px solid #e0e0e0;
    color: #1d1f21;
}

input#inputbar:focus {
    box-shadow: 0 0 5px 0 #3e999f;
    border-color: #3e999f;
}


/** Message Styles **/

span.jarvis {
    font-weight: bold;
    color: #f5871f;
}

span.user {
    font-weight: bold;
    color: #4271ae;
}

span.error {
    font-weight: bold;
    color: #c82829;
}

span.app {
    font-weight: bold;
}