/* From Google Material Design */

body {
	background-color: #f5f5f5;
	color: #212121;
}

::-webkit-scrollbar-thumb {
	background-color: #e0e0e0;
}

::-webkit-scrollbar-thumb:hover {
	background-color: #ff9800;
}

.jarvis-input-row {
	background-color: #e0e0e0;
}

input#inputbar {
	background-color: #f5f5f5;
	color: #212121;
}

span.jarvis {
	color: #f57c00;
}

span.user {
	color: #0288d1;
}

span.error {
	color: #e51c23;
}

/* Control Panel SVG */
#btn-ctrlpanel .fg {
	fill: #212121;
	opacity: 0.2;
	cursor: pointer;
}

#btn-ctrlpanel .fg:hover {
	opacity: 1.0;
}

#btn-ctrlpanel .fg:active {
	fill: #0288d1;
}
