<!DOCTYPE html>
<html lang="en">
<head>
	<title><%= title %></title>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" type="text/css" href="/css/main.css">
	<link rel="shortcut icon" href="/img/favicon.ico">
</head>
<body>
	<%= @inner %>
	<script src="/js/phoenix.js"></script>
	<script src="/js/main.js"></script>
</body>
</html>
